{% trans_default_domain 'user.login' %}

    <div class="modal-dialog modal-dialog-centered" style="--bs-modal-width: 700px;">


        <div class="modal-content p-3 border-bottom border-5 border-primary">
            {{ form_start(form) }}
                <div class="modal-header border-0">
                    <h3 class="modal-title text-uppercase h4 fw-bold">Авторизуйтесь</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>

                <div class="modal-body">
                    <div class="d-flex justify-content-between gap-3">
                        <div class="w-100">
                            {{ form_label(form.email, 'user.form.label.email', { attr: { class: 'mb-0' } }) }}
                            {{ form_widget(form.email, { attr : { class: 'rounded-4' } }) }}
                        </div>
                        <div class="w-100">
                            {{ form_label(form.password, 'user.form.label.password', { attr: { tabindex : "-1", class: 'mb-0' } }) }}
                            {{ form_widget(form.password, { attr : { class: 'rounded-4' } }) }}
                        </div>
                    </div>
                </div>

                <div class="modal-footer border-0 d-flex flex-grow-3">

                    <ul class="d-flex gap-3 list-unstyled">
                        <li>
                            <a href="{{ path('AuthEmail:user.registration') }}" aria-label="Регистация"> {{ 'user.page'|trans({}, 'user.reg')  }}</a>
                        </li>
                        <li>
                            <a href="{{ path('AuthEmail:user.restore') }}" aria-label="Забыли пароль?">{{ 'user.form.label.question'|trans({}, 'user.restore')  }}  </a>
                        </li>
                    </ul>

                    {#<button type="submit" class="btn btn-danger btn-lg ms-auto ">Войти</button>#}

                    {{ form_widget(form.login, {
                        label: '<span>'~ 'user.btn.save'|trans() ~'</span>
                            <span id="'~form.login.vars.id~'-progress" class="spinner-border spinner-border-sm d-none"></span>
                        ',
                        attr: { class : 'btn btn-lg btn-danger rounded-3 small text-uppercase fw-bolder ms-auto' }
                    }) }}

                </div>
            {{ form_end(form) }}
        </div>
    </div>



{#<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    {{ form_start(form) }}
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">
                {{ 'Добавить заявку склад сырья'|trans }}
            </h5>
        </div>

        <div class="modal-body">

            {{ form_row(form.preMaterial, { label: 'Сырье', placeholder: 'Выберите Сырье из списка...', attr: { 'data-select' : 'select2' } }) }}

            {{ form_row(form.preOffer, { label: 'Торговое предложение', attr: { 'data-select' : 'select2' } }) }}

            {{ form_row(form.preWarehouse, { label: 'Склад', attr: { 'data-select' : 'select2' } }) }}

            #}{# <div class="d-flex justify-content-evenly gap-1 align-items-end">
                <div class="p-1">
                    <div class="mb-3"><button type="button" id="category_form_sections_0_DeleteSection" name="category_form[sections][0][DeleteSection]" class="btn btn-sm  btn-light-danger del-item-section btn"><span class="svg-icon svg-icon-2 text-nowrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                    <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="black"></rect>
                                    <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="black"></rect>
                                </svg>Удалить секцию</span></button></div>

                </div>

                <div class="w-100">
                    <div class="mb-3"><label for="category_form_sections_0_sort" class="form-label required">Сортировка секции</label><input type="number" id="category_form_sections_0_sort" name="category_form[sections][0][sort]" required="required" min="0" max="999" class="form-control" value="110">        </div>
                </div>
            </div> #}{#

            <div class="d-flex w-100 justify-content-between align-items-end ">

                <div class="w-100">
                    {{ form_row(form.preTotal, { label: 'Количество в заявке', attr: { min : 1 } }) }}
                </div>

                <div class="w-50 text-end">

                    {{ form_row(form.addStock, { label: '
				<span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24" viewBox="0 0 24 24"
                             fill="none">
                            <rect opacity="0.5" x="11" y="18" width="12"
                                  height="2" rx="1"
                                  transform="rotate(-90 11 18)"
                                  fill="black"></rect>
                            <rect x="6" y="11" width="12" height="2"
                                  rx="1" fill="black"></rect>
                        </svg>
                    </span>'~ 'Добавить в заявку'|trans({}, 'messages') ~'   ',

                        attr: {
                            'data-index' : 0,
                            'data-prototype' : include(_self|replace({ "content.html.twig": "prototype.material.html.twig"}))
                        }

                    }) }}

                </div>

            </div>

        </div>

        <div class="modal-footer" id="collectionStock">

        </div>

        <div class="modal-footer">

            {{ form_widget(form.comment, { attr: { placeholder : 'Комментарий'} }) }}

            #}{# Отмена #}{#
            <div class="mb-3">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>
            </div>

            #}{# Сохранить #}{#


            {{ form_row(form.add, { label: '
				<span class="indicator-label">'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
				<span class="indicator-progress">
					<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
				</span>
			'}) }}

        </div>
    </div>
    {{ form_end(form) }}
</div>#}
